click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
requests==2.24.0
stravalib==0.10.2
setuptools==45.2.0
Cython==0.29.21
numpy==1.21.3
wheel==0.34.2
pandas==1.1.1
python-dotenv==0.14.0
flatten-dict==0.3.0
polyline==1.4.0
dash==1.17.0
dash-html-components==1.1.1
dash-core-components==1.13.0
dash-leaflet==0.1.10
